
.v2-icon {
  display: inline-block;
  vertical-align: text-bottom;
}

.v2-icon--small {
  width: 16px;
  height: 16px;
}

/* === White === */

.v2-icon--arrow-tick-white {
  background-image: url('img/white/tick.png');
}

.svg .v2-icon--arrow-tick-white {
  background-image: url('img/white/tick.svg');
}

.v2-icon--arrow-right-circle-white {
  background-image: url('img/white/arrow-right-circle.png');
}

.svg .v2-icon--arrow-right-circle-white {
  background-image: url('img/white/arrow-right-circle.svg');
}

.v2-icon--info-circle-white {
  background-image: url('img/white/info-circle.png');
}

.svg .v2-icon--info-circle-white {
  background-image: url('img/white/info-circle.svg');
}

/* === Grey === */

.v2-icon--arrow-tick-grey {
  background-image: url('img/grey/tick.png');
}

.svg .v2-icon--arrow-tick-grey {
  background-image: url('img/grey/tick.svg');
}

.v2-icon--remove-circle-grey {
  background-image: url('img/grey/remove-circle.png');
}

.svg .v2-icon--remove-circle-grey {
  background-image: url('img/grey/remove-circle.svg');
}

/* === Green === */

.v2-icon--arrow-tick-green {
  background-image: url('img/green/tick.png');
}

.svg .v2-icon--arrow-tick-green {
  background-image: url('img/green/tick.svg');
}

/* === Blue === */

.v2-icon--info-circle-blue {
  background-image: url('img/blue/info-circle.png');
}

.svg .v2-icon--info-circle-blue {
  background-image: url('img/blue/info-circle.svg');
}

/* === Purple === */

.v2-icon--alert-purple {
  background-image: url('img/purple/alert.png');
}

.svg .v2-icon--alert-purple {
  background-image: url('img/purple/alert.svg');
}

/* === Red === */

.v2-icon--alert-red {
  background-image: url('img/red/alert.png');
}

.svg .v2-icon--alert-red {
  background-image: url('img/red/alert.svg');
}
