
/* === FONT FACE === */

@font-face {
    font-family: 'nibdings';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/nibdings.eot');
    src:
        url('./fonts/nibdings.eot?#iefix') format('eot'),
        url('./fonts/nibdings.woff') format('woff'),
        url('./fonts/nibdings.ttf') format('truetype'),
        url('./fonts/nibdings.svg#nibdings') format('svg')
    ;
}


/* === ICON === */

.v2-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 'nibdings';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* === ICON: SIZE === */

/* TODO: USE EMs so icons scale if user agent font size larger than normal? */

.v2-icon--smallest {
    font-size: 16px;
}

.v2-icon--small {
    font-size: 32px;
}

.v2-icon--medium {
    font-size: 48px;
}

.v2-icon--large {
    font-size: 64px;
}

.v2-icon--largest {
    font-size: 128px;
}

/* === ICON: COLOUR === */

.v2-icon--lightgreen {
    color: #009623;
}

.v2-icon--darkgreen {
    color: #0a6d12;
}

.v2-icon--lightgrey {
    color: #b9b9b9;
}

.v2-icon--darkgrey {
    color: #444;
}

.v2-icon--white {
    color: #fff;
}

/* === ICON: GLYPH === */


.v2-icon--cal:before {
    content: "\E001"
}

.v2-icon--dave:before {
    content: "\E002"
}

.v2-icon--glyn:before {
    content: "\E003"
}

.v2-icon--tim:before {
    content: "\E004"
}

.v2-icon--yasmin:before {
    content: "\E005"
}
