
.v2-icon {
  display: inline-block;
  vertical-align: text-bottom;
}

.v2-icon--small {
  width: 16px;
  height: 16px;
}

/* === White === */

.v2-icon--arrow-right-circle-white {
  background-image: url('img/white/arrow-right-circle.png');
}

.svg .v2-icon--arrow-right-circle-white {
  background-image: url('img/white/arrow-right-circle.svg');
}

/* === Grey === */

.v2-icon--remove-circle-grey {
  background-image: url('img/grey/remove-circle.png');
}

.svg .v2-icon--remove-circle-grey {
  background-image: url('img/grey/remove-circle.svg');
}