<link href="../index.css" rel="stylesheet">

<ul class="icon-list">

    <li class="icon-list__item">

        <div class="icon-list__image">
            <i class="v2-icon v2-icon--smaller v2-icon--cal"></i>
        </div>

        <div class="icon-list__class">
            .v2-icon--cal
        </div>

    </li>

    <li class="icon-list__item">

        <div class="icon-list__image">
            <i class="v2-icon v2-icon--smaller v2-icon--dave"></i>
        </div>

        <div class="icon-list__class">
            .v2-icon--dave
        </div>

    </li>

    <li class="icon-list__item">

        <div class="icon-list__image">
            <i class="v2-icon v2-icon--smaller v2-icon--glyn"></i>
        </div>

        <div class="icon-list__class">
            .v2-icon--glyn
        </div>

    </li>

    <li class="icon-list__item">

        <div class="icon-list__image">
            <i class="v2-icon v2-icon--smaller v2-icon--tim"></i>
        </div>

        <div class="icon-list__class">
            .v2-icon--tim
        </div>

    </li>

    <li class="icon-list__item">

        <div class="icon-list__image">
            <i class="v2-icon v2-icon--smaller v2-icon--yasmin"></i>
        </div>

        <div class="icon-list__class">
            .v2-icon--yasmin
        </div>

    </li>

</ul>